.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
    height: 100vh;
}

.login-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 3rem 4rem;
}

